body {
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

header {
  width: 80%;
  height: 100px;
  margin-top: 20px;
  margin-bottom: 50px;
  background-color: #0a66c2;
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-around;
  align-items: stretch;
}

#title {
  width: 300px;
  height: 80px;
  background-color: #0a66c2;
}
#input-box {
  margin-top: 35px;
}

#input-box input {
  width: 400px;
  height: 30px;
  border-radius: 30px;
  padding-left: 15px;
  border: none;
}

#input-box button {
    width: 100px;
    height: 32px;
    border-radius: 30px;
    border: none;
}

main {
  width: 90%;
  min-height: 100px;
  height: auto;
  border: solid 2px black;
  box-shadow: 0px 0px 18px 0px #33333373;
  background-color: #0a66c245;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#jobList li {
    font-size: 50px;
}